name: Deployment

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Build Docker image
        run: docker build -t nodejs-demo-devops .

      - name: Push Docker image
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
          docker tag nodejs-demo-devops:latest ${{secrets.DOCKER_USERNAME}}/nodejs-demo-devops:latest
          docker push ${{secrets.DOCKER_USERNAME}}/nodejs-demo-devops:latest

      - name: SSH into VPS
        run: |
          echo "$SSH_PRIVATE_KEY" > /tmp/vps_ssh_key
          chmod 400 /tmp/vps_ssh_key
          scp -o StrictHostKeyChecking=no -i /tmp/vps_ssh_key -r docker-compose.yml $VPS_USER@$VPS_IP:/home/$VPS_USER/backend
          ssh -o StrictHostKeyChecking=no -i /tmp/vps_ssh_key $VPS_USER@$VPS_IP "cd /home/$VPS_USER/backend && ./deploy-script.sh"
          rm /tmp/vps_ssh_key
          sleep 20
        env:
          VPS_USER: ${{ secrets.VPS_USER }}
          VPS_IP: ${{ secrets.VPS_IP }}
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

  test:
    runs-on: ubuntu-latest
    needs: deploy

    steps:
      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Pull Docker image
        run: docker pull ${{secrets.DOCKER_USERNAME}}/nodejs-demo-devops:latest

      - name: Run container for testing
        run: |
          echo "$ENCRYPTED_FILE" | base64 -d > env
          docker run --env-file ./env -d --name api -p 5000:5000 ${{ secrets.DOCKER_USERNAME}}/nodejs-demo-devops:latest
        env:
          ENCRYPTED_FILE: ${{ secrets.ENCRYPTED_FILE }}

      - name: Wait for the container to start
        run: sleep 20

      - name: logs api
        run: docker logs api

      - name: Test the running container
        run: |
          curl $VPS_DNS
        env:
          VPS_DNS: ${{ secrets.VPS_DNS }}
